/* Footer Styles */
.footer {
    background: #6C63FF; /* Dark blue background color */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
    width: 100%; /* Full width of the page */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .copyright {
    color: #ffffff; /* White text color */
    font-size: 14px;
    margin-top: 10px; /* Adjust the margin for spacing */
  }

  .footer p{
    color: #f4f4f9;
  }
  