/* Navbar.css
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .navbar-brand h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
   */

   /* Navbar.css */

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; /* Increase padding to raise the height */
  background-color: #6C63FF; /* Background color */
  color: #F3D225;
}

/* Company name style */
.navbar-brand h1 {
  margin: 0;
  font-size: 28px; /* Adjust font size for better balance */
  font-family: 'Arial', sans-serif;
}

/* Links container */
.navbar-links {
  display: flex;
  gap: 20px;
}

/* Navbar links style */
.navbar-link {
  text-decoration: none;
  color: #F3D225;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

/* Brighter color on hover */
.navbar-link:hover {
  text-decoration: none; /* Remove underline */
  color: #FFD700; /* Brighter yellow (gold) color for hover */
}
